{% extends 'ecommerce/main.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block content %}
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}new password{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'styles/password-reset.css' %}">
</head>
<body>


          
	{% if messages %}
	{% for msg in messages %}

		<div class="alert alert-warning alert-dismissible fade show" role="alert" style="width: 50%; margin: auto;">
			<strong>{{ msg }}.</strong>
			<div class="align-middle">
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		</div>

	{% endfor %}
	{% endif %}


	<!--Reset Password-->
	<div class="container p-5" style="color: black;">
  	 	<h2 class="font-weight-bold mt-3">Enter A New Password</h2>
		<hr>
		<p>Please enter your new password twice so we can verify you typed it in correctly.</p>
        <p>
            <strong>Note</strong> :<br>
            &nbsp;&nbsp;&nbsp; Your password can't be too similar to your other personal information.<br>
            &nbsp;&nbsp;&nbsp; Your password must contain at least 8 characters.<br>
            &nbsp;&nbsp;&nbsp; Your password can't be a commonly used password.<br>
            &nbsp;&nbsp;&nbsp; Your password can't be entirely numeric.<br>
        </p>
       
        <form onsubmit="handleSubmit()" id="form" method="POST" style="padding-bottom: 50px;">
            {% csrf_token %}
            
            <div class="mb-3" style="margin: auto;">
                <label for="id_new_password1" class="form-label">Password</label><br>
                <span id="error-text-password1" style="color:red"></span>
                <div class="field-container">
                    <input name="new_password1" required placeholder="Password" style="width: 100%;" type="password" class="field" id="id_new_password1">
                    <img id="eye_image_1" onclick="handleEye('id_new_password1','eye_image_1')" class="eye-icon" src="{% static 'images/hidden-eye.png' %}">
                </div>
            </div>

            <div class="mb-3" style="margin: auto;">
                <label for="id_new_password2" class="form-label">Conform Password</label><br>
                <span id="error-text-password2" style="color:red"></span>
                <div class="field-container">
                    <input name="new_password2" required placeholder="Conform Password" style="width: 100%;" type="password" class="field" id="id_new_password2">
                    <img id="eye_image_2" onclick="handleEye('id_new_password2','eye_image_2')" class="eye-icon" src="{% static 'images/hidden-eye.png' %}">
                </div>
            </div>

            
            <button class="submit-btn" type="submit" style="margin: auto;">Change Password</button>
        </form>
  	</div>

<script>
const handleSubmit = () => {
    const password_1 = document.getElementById("id_new_password1")
    const password_2 = document.getElementById("id_new_password2")
    let error_text_1 = document.getElementById("error-text-password1")
    let error_text_2 = document.getElementById("error-text-password2")

    error_text_1.innerHTML = ''
    error_text_2.innerHTML = ''

    event.preventDefault()
    if (password_1.value != password_2.value) {
        error_text_2.innerHTML = "The passwords you entered are not the same"
    }

    else if (password_1.value.length < 8) {
        error_text_1.innerHTML = "Your password must contain at least 8 characters"
    }

    else if (!/[a-zA-Z]/g.test(password_1.value)) {
        error_text_1.innerHTML = "Your password can't be entirely numeric."
    }

    else {
       
        $.ajax({
            url: "{{ request.scheme }}://{{ request.META.HTTP_HOST }}/api/set-password",
            method: 'POST',
            data : {
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                uidb64: '{{uidb64}}',
                password: password_1.value,
            },

            success: (data) => {
                if (data) {
                    window.open("{{ request.scheme }}://{{ request.META.HTTP_HOST }}/change-password/password_reset_complete")
                } else {
                    error_text_1.innerHTML = "Something went wrong . Please try again"
                    error_text_2.innerHTML = "Something went wrong . Please try again"
                }
            }
        })
    }

}

const handleEye = (f_id,img_id) => {
        let field = document.getElementById(f_id);
        let img = document.getElementById(img_id);

        if (field.type=="text") {
            field.type = "password";
            img.src = "{% static 'images/hidden-eye.png' %}"
        } else {
            field.type = 'text'
            img.src = "{% static 'images/eye.png' %}"
        }
    }

</script>

{% endblock %}

</body>
</html>
